
</style>
</head>
<body>
<table border="1" >
<tr><td>newsdate</td>
<td>header</td>
<td>type</td>
<td>impact</td>
<td>impactrationale</td>
<td>url </td>
<td>effectivedate</td>
</tr>
{% for data in rows %}
<tr>
<td>{{data["newsdate"]}}</td>
<td><a href="/events?id={{data['id']}}">  {{data["header"]}} </a></td>
<td>{{data["type"]}}</td>
<td>{{data["impact"]}}</td>
<td>{{data["impactrationale"]}}</td>
<td>{{data["url"]}}</td>
<td>{{data["effectivedate"]}}</td>
<td><a href="/deleteevent?id={{data['id']}}">Delete</a></td>
</tr>
{%endfor %}
</body>
</table>
<input type="Add" Value="Save"/>
