<!DOCTYPE html>
<html>
<head>
<title>AJAX Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>
	<script src="{{ url_for('static', filename='eventslist.js') }}"></script>

<form action="/events"  method="post">

<table border="1" >
<tr><td>newsdate</td>
<td>header</td>
<td>type</td>
<td>impact</td>
<td>impactrationale</td>
<td>url</td>
<td>effectivedate</td>
</tr>
{% for data in rows %}
<tr>
<td>{{data["newsdate"]}}</td>
<td><a href="/events?id={{data['id']}}"> {{data["header"]}} </a></td>
<td>{{data["type"]}}</td>
<td>{{data["impact"]}}</td>
<td>{{data["impactrationale"]}}</td>
<td>{{data["url"]}}</td>
<td>{{data["effectivedate"]}}</td>
<td><a href="/deleteevent?id={{data['id']}}">Delete</a>
<button type="button" onclick="unhide(); getEvent({{data['id']}})" > edit </button>
</td>
</tr>
{%endfor %}
</table>
<div id="eventedit" >
<input type="hidden" id="idno" name="idno" value="">
<table>
<tr>
<td>newsdate</td>
<td></td>
<td>
<input type="date" id="newsdate" value="">
</td>
</tr>
<tr>
<td>header</td>
<td></td>
<td>
<input type="text" id="header" value="">
</td>
</tr>
<td>type</td>
<td></td>
<td>
<select name="type">
    <option value="India">India</option>
    <option value="US">US</option>
    <option value="World">World</option>
    <option value="Results">Results</option>
</select>
</td>
</tr>
<tr>
<td>impact</td>
<td></td>
<td>
<input type="number" name="impact" value="">
</td>
</tr>
<tr>
<td>impactrationale</td>
<td></td>
<td>
<input type="text" name="impactrationale" value="">
</td>
</tr>
<tr>
<td>url</td>
<td></td>
<td>
<input type="url" name="url" value="">
</td>
</tr>
<tr>
<td>effectivedate</td>
<td></td>
<td>
<input type="date" name="effectivedate" value="">
</td>
</tr>
</table>
<br>
<input type="button" Value="Save" onclick="save()"/>
</div>
<script>
window.onload = function() {
  document.getElementById('eventedit').style.display = "none";
};
function unhide() { 
    document.getElementById("eventedit").style.display = "block";
}
function save() {
    document.getElementById("eventedit").style.display = "none"; 
   
    header= document.getElementById('header').value;
    impactrationale= document.getElementById('impactrationale').value;
    url= document.getElementById('url').value;

}

function getEvent(idval) {
		$.ajax({
			data : {
				id : idval
			},
			type : 'Get',
			url : '/getevent'
		})
		.done(function(data) {
		    $("input[name=newsdate]").val(data['newsdate']);
    		$("input[name=header]").val(data['header']);
    		$("input[name=type").val(data['type']);
    		$("input[name=impact]").val(data['impact']);
    		$("input[name=impactrationale]").val(data['impactrationale']);
    		$("input[name=url]").val(data['url']);
    		$("input[name=effectivedate]").val(data['effectivedate']);
			
		});
}

</script>
</form>
</body>
