<!DOCTYPE html>
<html>
<head>
<title>AJAX Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>
<body>
	<script src="{{ url_for('static', filename='eventslist.js') }}"></script>
<script>
"use strict";
var id=0;
function save(id) {

}
</script>
<form action="/events"  method="post">

<table border="1" >
<tr><td>newsdate</td>
<td>header</td>
<td>type</td>
<td>impact</td>
<td>impactrationale</td>
<td>url</td>
<td>effectivedate</td>
</tr>
{% for data in rows %}
<tr>
<td>{{data["newsdate"]}}</td>
<td><a href="/events?id={{data['id']}}"> {{data["header"]}} </a></td>
<td>{{data["type"]}}</td>
<td>{{data["impact"]}}</td>
<td>{{data["impactrationale"]}}</td>
<td>{{data["url"]}}</td>
<td>{{data["effectivedate"]}}</td>
<td><a href="/deleteevent?id={{data['id']}}">Delete</a>
<button type="button" onclick="getEvt({{data['id']}});" > edit </button>
 
</td>
</tr>
{%endfor %}
</table>
<div id="eventedit" >
<input type="hidden" id="idno" name="idno" value="">
<table>
<tr>
<td>newsdate</td>
<td></td>
<td>
<input type="date" id="newsdate" name="newsdate" value="">
</td>
</tr>
<tr>
<td>header</td>
<td></td>
<td>
<input type="text" id="header" name='header' value="">
</td>
</tr>
<td>type</td>
<td></td>
<td>
<select name="type">
    <option value="India">India</option>
    <option value="US">US</option>
    <option value="World">World</option>
    <option value="Results">Results</option>
</select>
</td>
</tr>
<tr>
<td>impact</td>
<td></td>
<td>
<input type="number" step="0.1" max="5.0" min="-5.0" id="impact" name="impact">
</td>
</tr>
<tr>
<td>impactrationale</td>
<td></td>
<td>
<input type="text" id="impactrationale" name="impactrationale" value="">
</td>
</tr>
<tr>
<td>url</td>
<td></td>
<td>
<input type="url" id="url" name="url" value="">
</td>
</tr>
<tr>
<td>effectivedate</td>
<td></td>
<td>
<input type="date" id="effectivedate" name="effectivedate" value="">
</td>
</tr>
</table>
<br>
<input type="button" Value="Save" onclick="save()"/>
</div>
<script>
window.onload = function() {
  document.getElementById('eventedit').style.display = "none";
};
function unhide() { 
    document.getElementById("eventedit").style.display = "block";
}
function save() {

    document.getElementById("eventedit").style.display = "none";
    //Save in to Database
    saveEvent(id);
    //Refresh Grid from database

}
function getEvt (idval){
    unhide(); id=idval; getEvent(idval);
}
</script>
</form>
</body>
