{% extends 'template.html' %}

{% block header %}
  <h1>{% block title %}Option Management software{% endblock %}</h1>
{% endblock %}

{% block content %}



<form action="/optdef" name="form1" method="post" onsubmit= "return validations()">
<table>
<input type="hidden" id="id" name="id" value="{{data['id']}}">
<tr class="alt1">
<td>Underlying</td>
<td></td>
<td>{{data["underlying"]}}</td>
<tr class="alt2">
<td rowspan=5>Underlying level</td>
                
                <td>1</td><td><input type="text" name="level1" value="{{data['l0']}}"> </td> </tr>
<tr class="alt2"><td>2</td><td><input type="text" name="level2" value="{{data['l1']}}"> </td> </tr>
<tr class="alt2"><td>3</td><td><input type="text" name="level3" value="{{data['l2']}}"> </td> </tr>
<tr class="alt2"><td>4</td><td><input type="text" name="level4" value="{{data['l3']}}"> </td> </tr>
<tr class="alt2"><td>5</td><td><input type="text" name="level5" value="{{data['l4']}}"> </td> </tr>
</tr>
<tr>
<td>not above</td>
<td></td>
<td>
<input type="text" name="notabove" value="{{data['above']}}">
</td>
</tr>
<tr >
<td> not below</td>
<td></td>
<td>
<input type="text" name="notbelow" value="{{data['below']}}">
</td>
</tr>

<tr>
<td rowspan=2>IV</td>
<td> top</td>
<td>
<input type="text" name="ivtop" value="{{data['top']}}"/> </td>
</tr>

<tr>
<td>Bottom</td>
<td>
<input type="text" name="ivbottom" value="{{data['bottom']}}"/> </td>
</tr>
<tr>
<td rowspan=2>weekly expiry - Price</td>
<td>Up</td>
<td>
<input type="text" name="weeklyexpirytargetup" value="{{data['up']}}"/> </td>
</tr>
<tr>

<td>Down</td>

<td>
<input type="text" name="weeklyexpirytargetdown" value="{{data['down']}}"> </td>
</tr>
<tr>
<td >trend15m</td>
<td></td>
<td>
<select name="trend15m" >
<option {% if data['15mtrend']==1 %}selected{% endif %} value="1">UP </option>
<option {% if data['15mtrend']==2 %}selected{% endif %} value="2">down </option>
<option {% if data['15mtrend']==3 %}selected{% endif %} value="3">volatile </option>
</select>
</td>
</tr>
<tr>
<td rowspan=2> max pain</td>
<td>Direction</td>
<td>
<select name="maxpaindirection" >
<option {% if data['direction']==1 %}selected{% endif %} value="1">UP</option>
<option {% if data['direction']==2 %}selected{% endif %} value="2">NO MC</option>
</select>
</td>
</tr>
<tr>
<td>Target</td>
<td>
<input type="text" name="maxpaintarget" value="{{data['target']}}">
</td>
</tr>
<tr>
<td rowspan=3> pcr</td>
<td>Direction</td>
<td>
<select name="pcrdirection">
<option {% if data['pcrdirection']==1 %}selected{% endif %} value="1" >up</option>
<option {% if data['pcrdirection']==2 %}selected{% endif %} value="2">down</option>
<option {% if data['pcrdirection']==3 %}selected{% endif %} value="3" >no mc</option>
</select>
</td>
</tr>
<tr>
<td>To</td>
<td>
<input type="text" name="pcrup" value="{{data['to']}}">
</td>
</tr>
<td>Other side</td>
<td>
<input type="text" name="pcrdown" value="{{data['other']}}">
</td>
</tr>
</table>
<div class="btn-group">
<button class="style" type="submit" Value="Save" > Save </button>
<button  class="style" type="remove" value="delete"> delete</button>
</div>
</form>
{% endblock %}

