<CODETYPE html>
<html>
<head>
<title>AJAX Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
	<script src="{{ url_for('static', filename='OptDefList.js') }}"></script>
<table border="1" >
<tr><td>underlying</td>
<td>notabove</td>
<td>notbelow</td>
<td>maxpaintarget </td>
<td>pcrUp</td>
</tr>
{% for data in rows %}
<tr>
<td><a href="/optdef?id={{data['id']}}"> {{data["underlying"]}} </a></td>
<td>{{data["notabove"]}}</td>
<td>{{data["notbelow"]}}</td>
<td>{{data["maxpainTarget"]}}</td>
<td>{{data["pcrUp"]}}</td>
<td><a href="/deleteevent?id={{data['id']}}">Delete</a>
<button type="button" onclick="getOpt({{data['id']}});" > edit </button>
</td>
</tr>
{%endfor %}
</body>
</html>




