<CODETYPE html>
<html>
<head>
<style>
tr.alt1 td {
    background:#AAAAAA;
	color:Blue
}
tr.alt2 td {
    background:#EEEEEE;
}

tr.gap td {
    height:5px;
}

</style>
</head>
<body>
<table border="1" >
<tr><td>Time</td>
<td>Strike</td>
<td>Entry</td>
<td>Stoploss</td>
<td>Target</td>
<td>Risk</td>
</tr>

{%for row in data%}
<tr>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
<td>{{row[6]}}</td>
</tr>
{%endfor%}
</table>
<input type="button" Value="Save"/>
</body>
</html>




